.reply_item, .ask_item {
	  display: block;
      width: 100%;
      height: 100%;
      border-style: solid hidden hidden hidden;
      border-color: grey; /* 색 ? */
      border-width: thin;
      margin : 10px;
}

.no-reply {
    text-align: center;
    font-size: 16px;
    color: gray;
    padding: 10px;
}

.userInfo {
	margin : 3px;
	
}


.comment_item {	
 display: block;
      width: 100%;
      height: 100%;
      border-style: solid hidden hidden hidden;
      border-width: thin;
}

.replyContentAdd {
	font-size:16px;
	font-family:'맑은 고딕', verdana;
	padding:10px;
	width:500px;
	height:150px;
	position: center;
	box-sizing: border-box;
	resize:none;
	margin-left:20px;
}


#replyContent {
	/* 댓글, 대댓글 내용을 보여주는 곳 */
	max-width: 400px;
	max-height: 100px;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 5px; /* 댓글 입력란과 제목 간의 간격을 줄임 */
	outline: none;
	box-sizing: border-box; /* padding 포함 */
	text-align: left, top; /* 왼쪽 정렬 */
}


 #marketCommentContent {
 	max-width: 400px;
	max-height: 100px;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 5px; /* 댓글 입력란과 제목 간의 간격을 줄임 */
	outline: none;
	box-sizing: border-box; /* padding 포함 */
	text-align: left, top; /* 왼쪽 정렬 */
 }
 
 #commentContent {
 	max-width: 400px;
	max-height: 100px;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 5px; /* 댓글 입력란과 제목 간의 간격을 줄임 */
	outline: none;
	box-sizing: border-box; /* padding 포함 */
	text-align: left, top; /* 왼쪽 정렬 */
	margin-left: 20px;
	margin-buttom: 10px;
 }

.reply {
	width: 100px;
	height: 50px;
	height: auto;
}

.replyMemberId {
	font-size: 14px;
	color: #505050;
}

#addCommentContent, #commentContentAdd {
	/* 대댓글 입력 칸 */
	font-size:16px;
	font-family:'맑은 고딕', verdana;
	padding:10px;
	width:500px;
	height:150px;
	position: center;
	box-sizing: border-box;
	resize:none;
	margin-left:20px;
}

button:hover {
	/* 커서 갖다댄 버튼 색 변경 */
    background: #dcdcdc;
}

.button, .btn_update, .btn_delete, .comment_update, .comment_delete, .comment_add, .btn_commentAdd, #button,
.btn_commentupdate, .btn_commentdelete {
	background-color: #04AA6D;
	color:white;
   font-size:14px;
   padding:5px 10px;
   margin:10px 0;
   border:1px solid #ccc; 
}

.btn_commentList{
   background-color: #04AA6D;
   color:white;
   font-size:14px;
   padding:5px 10px;
   margin:10px 0;
   border:1px solid #ccc; 
}

.btn_updateComment, .btn_deleteComment {
	background-color: #04AA6D;
	color:white;
   font-size:14px;
   padding:5px 10px;
   margin:10px 0;
   border:1px solid #ccc; 
 }

.btn_update:disabled, .btn_delete:disabled, .comment_update:disabled, .comment_delete:disabled, .comment_add:disabled {
    display: none;
}

.btn_comment  {
	background-color: #04AA6D;
   font-size:14px;
   padding:5px 10px;
   margin:10px 0;
   border:1px solid #ccc; 
}

.btn_update:disabled, .btn_delete:disabled, .comment_add:disabled, .btn_commentupdate:disabled, .btn_commentdelete:disabled {
    display: none;
}	

.modalBackground {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
  }


div.replyModal { position:relative; z-index:1; display:none; }
div.modalContent { position:fixed; top:20%; left:calc(50% - 250px); width:500px; height:250px; padding:20px 10px; background:#fff; border:2px solid #666; }
div.modalContent textarea { font-size:16px; font-family:'맑은 고딕', verdana; padding:10px; width:480px; height:200px; resize:none;}
div.modalContent button { font-size:14px; padding:5px 10px; margin:10px 0; background:#fff; border:1px solid #ccc; }
div.modalContent button.modal_cancle { margin-left:20px; }

div.commentModal { position:relative; z-index:1; display:none; }
div.modalCommentContent { position:fixed; top:20%; left:calc(50% - 250px); width:500px; height:380px; padding:20px 10px; background:#fff; border:2px solid #666; }
div.modalCommentContent textarea { font-size:16px; font-family:'맑은 고딕', verdana; padding:10px; width:480px; height:200px; resize:none; }
div.modalCommentContent button { font-size:14px; padding:5px 10px; margin:10px 0; background:#fff; border:1px solid #ccc; }
div.modalCommentContent button.modal_comment_cancle { margin-left:20px; }

div.commentModifyModal { position:relative; z-index:1; display:none; }
div.modalModifyContent { position:fixed; top:20%; left:calc(50% - 250px); width:500px; height:250px; padding:20px 10px; background:#fff; border:2px solid #666; }
div.modalModifyContent textarea { font-size:16px; font-family:'맑은 고딕', verdana; padding:10px; width:480px; height:200px; resize:none;}
div.modalModifyContent button { font-size:14px; padding:5px 10px; margin:10px 0; background:#fff; border:1px solid #ccc; }
div.modalModifyContent button.modify_comment_cancle { margin-left:20px; }