<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.CtgMapper">

	<resultMap type="com.food.searcher.domain.CtgVO"
		id="ctgMap">

		<id property="memberId" column="MEMBER_ID" />
		<result property="mainCtg" column="MAIN_CTG" />
		<result property="subCtg" column="SUB_CTG" />

	</resultMap>
	
	<insert id="insertCtg">
	
	INSERT INTO CTG
	(CTG_ID
	,MAIN_CTG
	) VALUES 
	(CTG_SEQ.NEXTVAL
	#{mainCtg}
	)
	
	</insert>
	
	<select id="selectRecipeMainCtg" resultMap="ctgMap">
		SELECT DISTINCT CATEGORY AS MAIN_CTG
		FROM RECIPE
		ORDER BY CATEGORY
	</select>
	
	<select id="selectItemMainCtg" resultMap="ctgMap">
    	SELECT DISTINCT MAIN_CTG
    	FROM ITEM_CTG
    	WHERE ITEM_STATUS = 100
    	ORDER BY MAIN_CTG
	</select>
	
	<select id="selectSpecialityMainCtg" resultMap="ctgMap">
		SELECT DISTINCT MAIN_CTG
    	FROM LOCAL_SPECIALITY
    	ORDER BY MAIN_CTG
	</select>
	
	<select id="selectCtgMainCtg" resultMap="ctgMap">
		SELECT DISTINCT MAIN_CTG
		FROM CTG
		ORDER BY MAIN_CTG
	</select>
	
</mapper>