<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.DirectOrderMapper">
	<resultMap type="com.food.searcher.domain.DirectOrderVO" id="orderResultMap">
		<id property="orderId" column="ORDER_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="totalPrice" column="TOTAL_PRICE" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" />
		<result property="deliveryStatus" column="DELIVERY_STATUS" />
		<result property="deliveryDate" column="DELIVERY_DATE" />
		<result property="itemId" column="ITEM_ID" />
		<result property="totalCount" column="TOTAL_COUNT" />
		<result property="deliveryCompletedDate" column="DELIVERY_COMPLETED_DATE" />
		<result property="deliveryRefund" column="DELIVERY_REFUND" />
		<result property="refundReason" column="REFUND_REASON" />
		<result property="refundContent" column="REFUND_CONTENT" />
		<result property="deliveryCompany" column="DELIVERY_COMPANY" />
		<result property="invoiceNumber" column="INVOICE_NUMBER" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="tid" column="TID" />
	</resultMap>
	
	<insert id="insert">
    INSERT ALL
    <foreach collection="orderList" item="order" separator=" ">
        INTO DIRECT_ORDER(ORDER_ID, MEMBER_ID, ITEM_ID, TOTAL_COUNT, TOTAL_PRICE, DELIVERY_ADDRESS, TID)
        VALUES (
            #{order.orderId},
            #{order.memberId},
            #{order.itemId},
            #{order.totalCount},
            #{order.totalPrice},
            #{order.deliveryAddress},
            #{order.tid}
        )
    </foreach>
    SELECT 1 FROM DUAL
	</insert>
	
	<select id="selectAll" resultMap="orderResultMap">
		SELECT * FROM DIRECT_ORDER ORDER BY ORDER_ID DESC
	</select>
	
	<select id="selectListByPagination" resultMap="orderResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY ORDER_ID DESC)
		AS RN, DIRECT_ORDER.* FROM DIRECT_ORDER
			<choose>
				<when test="type == 'DELIVERY_STATUS'.toString()">
				<choose>
					<when test="keyword == '상품 준비중'">
						WHERE DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="keyword == '배송 준비중'">
						WHERE DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="keyword == '배송 중'">
						WHERE DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="keyword == '배송 완료'">
						WHERE DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="keyword == '환불 신청'">
						WHERE DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="keyword == '환불 승인'">
						WHERE DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="keyword == '환불 완료'">
						WHERE DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="keyword == '결제 취소'">
						WHERE DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="keyword == '주문 취소'">
						WHERE DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="type == 'DELIVERY_DATE'.toString()">
                <choose>
                    <when test="keyword == '1일'">
                        WHERE DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="keyword == '1주일'">
                        WHERE DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="keyword == '1달'">
                        WHERE DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="keyword == '3달'">
                        WHERE DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="keyword == '6달'">
                        WHERE DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="keyword == '1년'">
                        WHERE DELIVERY_DATE > SYSDATE - 365
                    </when>
                </choose>
            	</when>
			</choose>
		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*) TOTAL_COUNT FROM DIRECT_ORDER
			<choose>
				<when test="type == 'DELIVERY_STATUS'.toString()">
					<choose>
					<when test="keyword == '상품 준비중'">
						WHERE DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="keyword == '배송 준비중'">
						WHERE DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="keyword == '배송 중'">
						WHERE DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="keyword == '배송 완료'">
						WHERE DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="keyword == '환불 신청'">
						WHERE DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="keyword == '환불 승인'">
						WHERE DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="keyword == '환불 완료'">
						WHERE DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="keyword == '결제 취소'">
						WHERE DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="keyword == '주문 취소'">
						WHERE DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="type == 'DELIVERY_DATE'.toString()">
					<choose>
                    <when test="keyword == '1일'">
                        WHERE DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="keyword == '1주일'">
                        WHERE DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="keyword == '1달'">
                        WHERE DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="keyword == '3달'">
                        WHERE DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="keyword == '6달'">
                        WHERE DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="keyword == '1년'">
                        WHERE DELIVERY_DATE > SYSDATE - 365
                    </when>
                </choose>
				</when>			
			</choose>
	</select>
	
	<select id="selectOne" resultMap="orderResultMap">
		SELECT * FROM DIRECT_ORDER d
		JOIN ITEM i ON d.ITEM_ID = i.ITEM_ID
		WHERE ORDER_ID = #{orderId}
	</select>
	
	<select id="memberList" resultMap="orderResultMap">
		SELECT * FROM (
   		  SELECT ROW_NUMBER() OVER (ORDER BY ORDER_ID DESC) AS RN, d.*, i.ITEM_NAME
		  FROM DIRECT_ORDER d
		  JOIN ITEM i ON d.ITEM_ID = i.ITEM_ID
		  WHERE d.member_id = #{memberId}
			<choose>
				<when test="pagination.type == 'DELIVERY_STATUS'">
				<choose>
					<when test="pagination.keyword == '상품 준비중'">
						AND DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="pagination.keyword == '배송 준비중'">
						AND DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="pagination.keyword == '배송 중'">
						AND DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="pagination.keyword == '배송 완료'">
						AND DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="pagination.keyword == '환불 신청'">
						AND DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="pagination.keyword == '환불 승인'">
						AND DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="pagination.keyword == '환불 완료'">
						AND DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="pagination.keyword == '결제 취소'">
						AND DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="pagination.keyword == '주문 취소'">
						AND DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="pagination.type == 'DELIVERY_DATE'">
                <choose>
                    <when test="pagination.keyword == '1일'">
                        AND DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="pagination.keyword == '1주일'">
                        AND DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="pagination.keyword == '1달'">
                        AND DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="pagination.keyword == '3달'">
                        AND DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="pagination.keyword == '6달'">
                        AND DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="pagination.keyword == '1년'">
                        AND DELIVERY_DATE > SYSDATE - 365
                    </when>
                    <otherwise>
                        <!-- Optional: Add default condition here if needed -->
                    </otherwise>
                </choose>
            	</when>
			</choose>
			)
		WHERE RN BETWEEN #{pagination.start} AND #{pagination.end}
	</select>
	
	<select id="selectMemberTotalCount" resultType="Integer">
		SELECT COUNT(*) TOTAL_COUNT FROM DIRECT_ORDER d
		JOIN ITEM i ON d.ITEM_ID = i.ITEM_ID
		WHERE d.MEMBER_ID = #{memberId}
		<choose>
				<when test="pagination.type == 'DELIVERY_STATUS'">
				<choose>
					<when test="pagination.keyword == '상품 준비중'">
						AND DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="pagination.keyword == '배송 준비중'">
						AND DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="pagination.keyword == '배송 중'">
						AND DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="pagination.keyword == '배송 완료'">
						AND DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="pagination.keyword == '환불 신청'">
						AND DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="pagination.keyword == '환불 승인'">
						AND DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="pagination.keyword == '환불 완료'">
						AND DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="pagination.keyword == '결제 취소'">
						AND DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="pagination.keyword == '주문 취소'">
						AND DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="pagination.type == 'DELIVERY_DATE'">
                <choose>
                    <when test="pagination.keyword == '1일'">
                        AND DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="pagination.keyword == '1주일'">
                        AND DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="pagination.keyword == '1달'">
                        AND DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="pagination.keyword == '3달'">
                        AND DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="pagination.keyword == '6달'">
                        AND DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="pagination.keyword == '1년'">
                        AND DELIVERY_DATE > SYSDATE - 365
                    </when>
                    <otherwise>
                        <!-- Optional: Add default condition here if needed -->
                    </otherwise>
                </choose>
            	</when>
			</choose>
	</select>
	
	<select id="sellerList" resultMap="orderResultMap">
		SELECT * FROM
			(
			SELECT 
			    d.ORDER_ID,
		        d.MEMBER_ID,
		        d.TOTAL_PRICE,
		        d.DELIVERY_ADDRESS,
		        d.TOTAL_COUNT,
		        d.DELIVERY_STATUS,
		        d.DELIVERY_DATE,
		        i.ITEM_ID, 
			    ROW_NUMBER() OVER (ORDER BY d.ORDER_ID DESC) AS RN
			FROM DIRECT_ORDER d
			JOIN ITEM i ON d.ITEM_ID = i.ITEM_ID
			WHERE i.member_id = #{memberId}
			<choose>
				<when test="pagination.type == 'DELIVERY_STATUS'">
				<choose>
					<when test="pagination.keyword == '상품 준비중'">
						AND DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="pagination.keyword == '배송 준비중'">
						AND DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="pagination.keyword == '배송 중'">
						AND DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="pagination.keyword == '배송 완료'">
						AND DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="pagination.keyword == '환불 신청'">
						AND DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="pagination.keyword == '환불 승인'">
						AND DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="pagination.keyword == '환불 완료'">
						AND DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="pagination.keyword == '결제 취소'">
						AND DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="pagination.keyword == '주문 취소'">
						AND DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="pagination.type == 'DELIVERY_DATE'">
                <choose>
                    <when test="pagination.keyword == '1일'">
                        AND DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="pagination.keyword == '1주일'">
                        AND DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="pagination.keyword == '1달'">
                        AND DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="pagination.keyword == '3달'">
                        AND DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="pagination.keyword == '6달'">
                        AND DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="pagination.keyword == '1년'">
                        AND DELIVERY_DATE > SYSDATE - 365
                    </when>
                    <otherwise>
                        <!-- Optional: Add default condition here if needed -->
                    </otherwise>
                </choose>
            	</when>
			</choose>
			)
		WHERE RN BETWEEN #{pagination.start} AND #{pagination.end}
	</select>
	
	<select id="sellerTotalCount" resultType="int">
	    SELECT COUNT(*)
	    FROM DIRECT_ORDER d
	    JOIN ITEM i ON d.ITEM_ID = i.ITEM_ID
	    WHERE i.MEMBER_ID = #{memberId}
	    	<choose>
				<when test="pagination.type == 'DELIVERY_STATUS'">
				<choose>
					<when test="pagination.keyword == '상품 준비중'">
						AND DELIVERY_STATUS LIKE '%상품 준비중%'
					</when>
					<when test="pagination.keyword == '배송 준비중'">
						AND DELIVERY_STATUS LIKE '%배송 준비중%'
					</when>
					<when test="pagination.keyword == '배송 중'">
						AND DELIVERY_STATUS LIKE '%배송 중%'
					</when>
					<when test="pagination.keyword == '배송 완료'">
						AND DELIVERY_STATUS LIKE '%배송 완료%'
					</when>
					<when test="pagination.keyword == '환불 신청'">
						AND DELIVERY_STATUS LIKE '%환불 신청%'
					</when>
					<when test="pagination.keyword == '환불 승인'">
						AND DELIVERY_STATUS LIKE '%환불 승인%'
					</when>
					<when test="pagination.keyword == '환불 완료'">
						AND DELIVERY_STATUS LIKE '%환불 완료%'
					</when>
					<when test="pagination.keyword == '결제 취소'">
						AND DELIVERY_STATUS LIKE '%결제 취소%'
					</when>
					<when test="pagination.keyword == '주문 취소'">
						AND DELIVERY_STATUS LIKE '%주문 취소%'
					</when>
				</choose>
				</when>
				<when test="pagination.type == 'DELIVERY_DATE'">
                <choose>
                    <when test="pagination.keyword == '1일'">
                        AND DELIVERY_DATE > SYSDATE - 1
                    </when>
                    <when test="pagination.keyword == '1주일'">
                        AND DELIVERY_DATE > SYSDATE - 7
                    </when>
                    <when test="pagination.keyword == '1달'">
                        AND DELIVERY_DATE > SYSDATE - 30
                    </when>
                    <when test="pagination.keyword == '3달'">
                        AND DELIVERY_DATE > SYSDATE - 90
                    </when>
                    <when test="pagination.keyword == '6달'">
                        AND DELIVERY_DATE > SYSDATE - 180
                    </when>
                    <when test="pagination.keyword == '1년'">
                        AND DELIVERY_DATE > SYSDATE - 365
                    </when>
                    <otherwise>
                        <!-- Optional: Add default condition here if needed -->
                    </otherwise>
                </choose>
            	</when>
			</choose>
	</select>
	
	<select id="selectMember" resultMap="orderResultMap">
		SELECT * FROM DIRECT_ORDER WHERE MEMBER_ID = #{memberId} ORDER BY ORDER_ID DESC
	</select>
	
	<select id="orderCancelList" resultMap="orderResultMap">
		SELECT * FROM DIRECT_ORDER d
		JOIN ITEM_CTG i ON d.ITEM_ID = i.ITEM_ID
		WHERE (i.ITEM_STATUS = 300 OR i.ITEM_STATUS = 200)
		AND (d.DELIVERY_STATUS = '상품 준비중' OR d.DELIVERY_STATUS = '배송 준비중')
	</select>
	
	<update id="cancel">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '결제 취소' WHERE ORDER_ID = #{orderId} AND (DELIVERY_STATUS = '상품 준비중' OR DELIVERY_STATUS = '배송 준비중')
	</update>
	
	<update id="refundReady">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '환불 하기' WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '배송 완료'
	</update>
	
	<update id="refund">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '환불 신청', REFUND_REASON = #{refundReason}, REFUND_CONTENT = #{refundContent} WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '환불 하기'
	</update>
	
	<update id="refundOK">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '환불 완료' WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '환불 신청'
	</update>
	
	<update id="deliveryReady">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '배송 준비중', DELIVERY_COMPANY = #{deliveryCompany}, INVOICE_NUMBER = #{invoiceNumber} WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '상품 준비중'
	</update>
	
	<update id="delivering">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '배송 중' WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '배송 준비중'
	</update>
	
	<update id="deliveryCompleted">
		UPDATE DIRECT_ORDER SET DELIVERY_STATUS = '배송 완료', DELIVERY_COMPLETED_DATE = SYSDATE, DELIVERY_REFUND = SYSDATE + 7  WHERE ORDER_ID = #{orderId} and DELIVERY_STATUS = '배송 중'
	</update>
	
	<update id="orderCancel">
		UPDATE DIRECT_ORDER d
		SET d.DELIVERY_STATUS = '주문 취소'
		WHERE d.ITEM_ID IN (
	    SELECT i.ITEM_ID
	    FROM ITEM_CTG i
	    WHERE (i.ITEM_STATUS = 300 OR i.ITEM_STATUS = 200)
	    AND (d.DELIVERY_STATUS = '상품 준비중' OR d.DELIVERY_STATUS = '배송 준비중')
		)
	</update>

</mapper>