<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.DiscountCouponMapper">

	<resultMap type="com.food.searcher.domain.DiscountCouponVO"
		id="discountCouponMap">

		<id property="couponId" column="COUPON_ID" />
		<result property="couponName" column="COUPON_NAME" />
		<result property="couponIssuer" column="COUPON_ISSUER" />
		<result property="couponContent" column="COUPON_CONTENT" />
		<result property="couponPrice" column="COUPON_PRICE" />
		<result property="couponUseCondition" column="COUPON_USE_CONDITION" />
		<result property="couponEvent" column="COUPON_EVENT" />
		<result property="couponExpirationDate" column="COUPON_EXPIRATION_DATE" />

	</resultMap>
	
	<insert id="insertCoupon">
		INSERT INTO DISCOUNT_COUPON(
		 COUPON_ID
		,COUPON_NAME
		,COUPON_ISSUER
		,COUPON_CONTENT
		,COUPON_PRICE
		,COUPON_USE_CONDITION
		,COUPON_EVENT
		,COUPON_EXPIRATION_DATE
		) VALUES (
		 DISCOUNT_COUPON_SEQ.NEXTVAL
		,#{couponName}
		,#{couponIssuer}
		,#{couponContent}
		,#{couponPrice}
		,#{couponUseCondition}
		,#{couponEvent}
		,#{couponExpirationDate})
		
	</insert>
	
	<select id="selectCoupon" resultMap="discountCouponMap">
		 SELECT COUPON_ID
		,COUPON_NAME
		,COUPON_ISSUER
		,COUPON_PRICE
		,COUPON_USE_CONDITION
		,COUPON_EVENT
		,COUPON_EXPIRATION_DATE
		FROM DISCOUNT_COUPON WHERE 1 = 1
		<if test="searchText != '' and searchText != null">
		AND ${searchBy} LIKE '${searchText}'
		</if>
	</select>
	
	<select id="selectOneCoupon" resultMap="discountCouponMap">
		SELECT *
		FROM DISCOUNT_COUPON
		WHERE COUPON_ID = #{couponId}
	</select>
	
	<update id="updateCoupon">
		UPDATE DISCOUNT_COUPON
		SET
		COUPON_CONTENT = #{couponContent},
		COUPON_PRICE = #{couponPrice},
		COUPON_USE_CONDITION = #{couponUseCondition},
		COUPON_EVENT = #{couponEvent}
		WHERE COUPON_ID = #{couponId}
	</update>
	
	<delete id="deleteCoupon">
		DELETE
		FROM DISCOUNT_COUPON
		WHERE COUPON_ID = #{couponId}
	</delete>
	
</mapper>