<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.food.searcher.persistence.LocalReplyMapper">

	<resultMap type="com.food.searcher.domain.LocalReplyVO"
		id="replyResultMap">

		<id property="replyId" column="LOCAL_REPLY_ID" />
		<result property="localId" column="LOCAL_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="replyDateCreated" column="REPLY_DATE_CREATED" />

	</resultMap>

	<insert id="insertLocalReply">
		INSERT INTO LOCAL_REPLY (
		 LOCAL_REPLY_ID
		,LOCAL_ID
		,MEMBER_ID
		,REPLY_CONTENT
		,REPLY_DATE_CREATED
		) VALUES (
		 LOCAL_REPLY_SEQ.NEXTVAL
		,#{localId}
		,#{memberId}
		,#{replyContent}
		,SYSDATE
		)
	</insert>

	<select id="selectListByLocalId" resultMap="replyResultMap">
		SELECT *
		FROM LOCAL_REPLY
		WHERE LOCAL_ID = #{localId}
		ORDER BY LOCAL_REPLY_ID
	</select>
	
	<select id="countByLocalIdReply" resultMap="replyResultMap">
		SELECT COUNT(*) 
		FROM LOCAL_REPLY 
		WHERE LOCAL_ID = #{localId};
	</select>

	<update id="update">
		UPDATE LOCAL_REPLY
		SET REPLY_CONTENT = #{replyContent}
		WHERE LOCAL_REPLY_ID = #{replyId}
	</update>

	<delete id="delete">
		DELETE FROM LOCAL_REPLY
		WHERE LOCAL_REPLY_ID = #{replyId}
	</delete>

</mapper>