<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.LocalMapper">

	<resultMap type="com.food.searcher.domain.LocalSpecialityVO"
		id="localResultMap">

		<id property="localId" column="LOCAL_ID" />
		<result property="localLocal" column="LOCAL_LOCAL" />
		<result property="localDistrict" column="LOCAL_DISTRICT" />
		<result property="localTitle" column="LOCAL_TITLE" />
		<result property="localContent" column="LOCAL_CONTENT" />
		<result property="replyCount" column="REPLY_COUNT" />

	</resultMap>
	
	<insert id ="insertSepeciality">
		INSERT INTO MEMBER 
		(LOCAL_ID, LOCAL_LOCAL, LOCAL_DISTRICT, LOCAL_TITLE, LOCAL_CONTENT, REPLY_COUNT)
		VALUES (LOCALSPECIALITY_SEQ.NEXTVAL, #{localLocal}, #{localDistrict}, #{localTitle}, #{localContent}, 0)
	</insert>

	<select id="selectList" resultMap="localResultMap">
		<!-- 특산품 조회 검색어가 null이거나 ''이면 무시됨 -->
		SELECT * FROM LOCAL_SPECIALITY WHERE 1 = 1
		<if test="localLocal != null and localLocal != ''">
			AND LOCAL_LOCAL = #{localLocal}
		</if>
		<if test="localDistrict != null and localDistrict != ''">
			AND LOCAL_DISTRICT = #{localDistrict}
		</if>

	</select>
	
	<select id="selectDistrict" resultType="String">
		<!-- 상세 지역 조회 -->
		SELECT DISTINCT LOCAL_DISTRICT
		FROM LOCAL_SPECIALITY
		WHERE LOCAL_LOCAL = #{localLocal}
	</select>
	
	<select id="selectByLocalTitle" resultMap="localResultMap">
		<!-- 검색어를 통한 특산품 조회 -->
		SELECT * FROM LOCAL_SPECIALITY
		WHERE LOCAL_TITLE = #{localTitle}
	</select>
	
	<select id="selectByLocalId" resultMap="localResultMap">
		<!-- 테이블을 통한 특산품 조회 -->
		SELECT * FROM LOCAL_SPECIALITY
		WHERE LOCAL_ID = #{localId}
	</select>
	
	<update id="update">
		<!-- 상세 게시글 수정 -->
		UPDATE LOCAL_SPECIALITY SET LOCAL_CONTENT = #{localContent}
		WHERE
		LOCAL_ID = #{localId}
	</update>
	
	<delete id="delete">
		<!-- 상세 게시글 삭제 -->
		DELETE FROM LOCAL_SPECIALITY
		WHERE LOCAL_ID = #{localId}
	</delete>
	
	<select id="localReplyCountUp">
	UPDATE LOCAL_SPECIALITY
	SET REPLY_COUNT = REPLY_COUNT + 1
	WHERE LOCAL_ID = #{localId}
	</select>
	
	<select id="localReplyCountDown">
	UPDATE LOCAL_SPECIALITY
	SET REPLY_COUNT = REPLY_COUNT - #{countDown}
	WHERE LOCAL_ID = #{localId}
	</select>

</mapper>