<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.LocalLikesMapper">

	<resultMap type="com.food.searcher.domain.LocalLikesVO"
		id="localLikesResultMap">

		<id property="likesId" column="LIKES_ID" />
		<result property="localId" column="LOCAL_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberLike" column="MEMBER_LIKE" />

	</resultMap>
	
	<insert id="insertLocalLikes">
	INSERT INTO LOCAL_LIKES
    (LIKES_ID, LOCAL_ID, MEMBER_ID, MEMBER_LIKE)
	VALUES (LOCAL_LIKES_SEQ.NEXTVAL, #{localId}, #{memberId}, #{memberLike})
	</insert>
	
	<select id="memberLikeByMemberId" resultType="String">
		SELECT MEMBER_LIKE
		FROM LOCAL_LIKES
		WHERE LOCAL_ID = #{localId}
		AND MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectLikesBylocalId" resultType="Map">
   	 	SELECT 
        COUNT(CASE WHEN MEMBER_LIKE = 1 THEN 1 END) AS LIKECOUNT,
        COUNT(CASE WHEN MEMBER_LIKE = 2 THEN 1 END) AS DISLIKECOUNT,
    	FROM LOCAL_LIKES
    	WHERE LOCAL_ID = #{localId}
	</select>
	
	<update id="updateLikesByMemberId">
		UPDATE LOCAL_LIKE
		SET MEMBER_LIKES = #{memberLike}
		WHERE LOCAL_ID = #{localId}
		AND MEMBER_ID = #{memberId}
	</update>
	
</mapper>