<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.searcher.persistence.RecipeViewMapper">
	<resultMap type="com.food.searcher.domain.RecipeViewListVO" id="recipeResultMap">
		<id property="viewsNo" column="VIEWS_NO" />
		<result property="recipeId" column="RECIPE_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="category" column="CATEGORY" />
		
	<association property="views" javaType="com.food.searcher.domain.RecipeViewsVO">
		<id property="recipeId" column="RECIPE_ID_2" />
		<result property="views" column="VIEWS" />
	</association>
	</resultMap>
	<resultMap type="com.food.searcher.domain.RecipeViewsVO" id="viewsMap">
		<id property="recipeId" column="RECIPE_ID" />
		<result property="views" column="VIEWS" />
	</resultMap>
	<resultMap type="com.food.searcher.domain.RecipeCategoryViewsVO" id="categoryViewsMap">
		<id property="memberId" column="MEMBER_ID" />
		<result property="category" column="CATEGORY" />
		<result property="views" column="VIEWS" />
	</resultMap>
	
	<insert id="insert">
		INSERT INTO RECIPE_VIEW_LIST (VIEWS_NO, RECIPE_ID, MEMBER_ID, CATEGORY)
		VALUES (RECIPE_VIEW_SEQ.NEXTVAL, #{recipeId}, #{memberId}, #{category} )
	</insert>
	
	<insert id="insertViews">
		INSERT INTO RECIPE_VIEWS (RECIPE_ID, VIEWS) 
		SELECT RECIPE_ID, COUNT(*) AS VIEWS
		FROM RECIPE_VIEW_LIST
		GROUP BY RECIPE_ID
		HAVING NOT EXISTS (
			SELECT 1 
			FROM RECIPE_VIEWS rv 
			WHERE rv.RECIPE_ID = RECIPE_VIEW_LIST.RECIPE_ID
		)
	</insert>
	
	<insert id="insertCategoryViews">
		INSERT INTO RECIPE_CATEGORY_VIEWS (MEMBER_ID, CATEGORY, VIEWS)
	    SELECT MEMBER_ID, CATEGORY, COUNT(*) AS VIEWS
	    FROM RECIPE_VIEW_LIST
	    WHERE NOT EXISTS (
	        SELECT 1
	        FROM RECIPE_CATEGORY_VIEWS rcv
	        WHERE rcv.MEMBER_ID = RECIPE_VIEW_LIST.MEMBER_ID
	          AND rcv.CATEGORY = RECIPE_VIEW_LIST.CATEGORY
	    )
	    GROUP BY MEMBER_ID, CATEGORY
	</insert>
	
	<select id="selectAll" resultMap="recipeResultMap">
		SELECT * FROM RECIPE_VIEW_LIST
	</select>
	
	<select id="selectOne" resultMap="viewsMap">
		SELECT * FROM RECIPE_VIEWS WHERE RECIPE_ID = #{recipeId}
	</select>
	
	<update id="updateViews">
		UPDATE RECIPE_VIEWS
		SET RECIPE_VIEWS.VIEWS = COALESCE(RECIPE_VIEWS.VIEWS, 0) + (
			SELECT COUNT(*)
			FROM RECIPE_VIEW_LIST
			WHERE RECIPE_VIEW_LIST.RECIPE_ID= RECIPE_VIEWS.RECIPE_ID
		)
	</update>
	
	<update id="updateCategoryViews">
		UPDATE RECIPE_CATEGORY_VIEWS
		SET RECIPE_CATEGORY_VIEWS.VIEWS = COALESCE(RECIPE_CATEGORY_VIEWS.VIEWS, 0) + (
			SELECT COUNT(*)
			FROM RECIPE_VIEW_LIST
			WHERE RECIPE_VIEW_LIST.MEMBER_ID = RECIPE_CATEGORY_VIEWS.MEMBER_ID 
			AND RECIPE_VIEW_LIST.CATEGORY = RECIPE_CATEGORY_VIEWS.CATEGORY
		)
	</update>
	
	<delete id="delete">
		DELETE FROM RECIPE_VIEW_LIST
	</delete>

</mapper>