<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 연결할 Mapper 인터페이스 경로 및 이름 -->
<mapper namespace="com.food.searcher.persistence.RecipeLikesMapper">

	<!-- <resultMap> : DB 쿼리 변환 데이터와 Entity(VO) 클래스의 멤버 변수 매핑을 정의하는 태그 - 속성 
		: type : 연결할 클래스의 패키지와 이름 id : SQL 쿼리 정의 태그에서 인식되는 이름 -->
	<resultMap type="com.food.searcher.domain.RecipeLikesVO" id="recipeLikesResultMap">
	
			<!-- <id> : key 컬럼 매핑 태그 <result> : 일반 컬럼 매핑 태그 - 속성 : property : Entity(VO) 
			멤버 변수 column : DB 테이블 컬럼 -->
		<id property="recipeLikesId" column="RECIPE_LIKES_ID" />
		<result property="recipeId" column="RECIPE_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberLike" column="MEMBER_LIKE" />
		<result property="likeCount" column="like_count" />
		
		    <!-- MemberVO를 association으로 추가 -->
    <association property="member" javaType="com.food.searcher.domain.MemberVO">
        <id property="memberId" column="MEMBER_ID_2" />
        <result property="password" column="PASSWORD" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="email" column="EMAIL" />
        <result property="emailAgree" column="EMAIL_AGREE" />
        <result property="memberAge" column="MEMBER_AGE" />
        <result property="memberGender" column="MEMBER_GENDER" />
        <result property="memberMBTI" column="MEMBER_MBTI" />
        <result property="memberConstellation" column="MEMBER_CONSTELLATION" />
        <result property="memberStatus" column="MEMBER_STATUS" />
    </association>
	</resultMap>
	
	<insert id="insert">
		INSERT INTO RECIPE_LIKES (RECIPE_ID, MEMBER_ID, MEMBER_LIKE)
		VALUES (#{recipeId}, #{memberId}, #{memberLike})
	</insert>
	
	<update id="update">
		UPDATE RECIPE_LIKES
		SET MEMBER_LIKE = #{memberLike} WHERE RECIPE_ID = #{recipeId} AND MEMBER_ID = #{memberId}
	</update>
	
	<select id="selectAll" resultMap="recipeLikesResultMap">
		SELECT recipe_id, COUNT(*) AS like_count
		FROM RECIPE_LIKES 
		group by recipe_id, member_like 
		having member_like=1
		ORDER BY LIKE_COUNT DESC
	</select>
	
	<select id="selectMemberLikes" resultMap="recipeLikesResultMap">
		SELECT *
		FROM RECIPE_LIKES
		WHERE RECIPE_ID = #{recipeId}
		AND MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectListByPagination" resultMap="recipeLikesResultMap">
    SELECT r.RECIPE_ID, COUNT(*) AS LIKE_COUNT
    FROM RECIPE_LIKES r
    JOIN MEMBER m ON r.MEMBER_ID = m.MEMBER_ID
    WHERE r.MEMBER_LIKE = 1
        <foreach collection="keyword" index="i" item="keyword" separator=" ">
            <if test="type[i] == null or type[i] == ''">
                <!-- 나이 조건 -->
                <if test="type[i] == '나이'.toString()">
                    <if test="keyword == '10대 이하'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) between 0 and 9
                    </if>
                    <if test="keyword == '10대'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) between 10 and 19
                    </if>
                    <if test="keyword == '20대'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) between 20 and 29
                    </if>
                    <if test="keyword == '30대'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) between 30 and 39
                    </if>
                    <if test="keyword == '40대'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) between 40 and 49
                    </if>
                    <if test="keyword == '50대 이상'">
                        AND FLOOR(MONTHS_BETWEEN(NOW(), STR_TO_DATE(m.member_date_of_birth, 'YYYYMMDD')) / 12) >= 50
                    </if>
                </if>
            </if>

            <!-- 성별 조건 -->
            <if test="type[i] == '성별'.toString()">
                AND m.MEMBER_GENDER = #{keyword}
            </if>

            <!-- MBTI 조건 -->
            <if test="type[i] == 'MBTI'.toString()">
                AND m.MEMBER_MBTI = #{keyword}
            </if>

            <!-- 별자리 조건 -->
            <if test="type[i] == '별자리'.toString()">
                <if test="keyword == '양자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('03-21'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('04-19'), 'MM-DD'))
                </if>
                <if test="keyword == '황소자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('04-20'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('05-20'), 'MM-DD'))
                </if>
                <if test="keyword == '쌍둥이자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('05-21'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('06-20'), 'MM-DD'))
                </if>
                <if test="keyword == '게자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('06-21'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('07-22'), 'MM-DD'))
                </if>
                <if test="keyword == '사자자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('07-23'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('08-22'), 'MM-DD'))
                </if>
                <if test="keyword == '처녀자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('08-23'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('09-22'), 'MM-DD'))
                </if>
                <if test="keyword == '천칭자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('09-23'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('10-22'), 'MM-DD'))
                </if>
                <if test="keyword == '전갈자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('10-23'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('11-21'), 'MM-DD'))
                </if>
                <if test="keyword == '사수자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('11-22'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('12-21'), 'MM-DD'))
                </if>
                <if test="keyword == '염소자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('12-22'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('01-19'), 'MM-DD'))
                </if>
                <if test="keyword == '물병자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('01-20'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('02-18'), 'MM-DD'))
                </if>
                <if test="keyword == '물고기자리'">
                    AND (STR_TO_DATE(TO_CHAR(m.member_date_of_birth), 'YYMMDD') BETWEEN STR_TO_DATE(TO_CHAR('02-19'), 'MM-DD') AND STR_TO_DATE(TO_CHAR('03-20'), 'MM-DD'))
                </if>
            </if>
        </foreach>
    GROUP BY r.RECIPE_ID
    ORDER BY LIKE_COUNT DESC
</select>


	
	<update id="updateMemberLikes">
		UPDATE RECIPE_LIKES
		SET MEMBER_LIKE = #{memberLike}
		WHERE RECIPE_ID = #{recipeId}
		AND MEMBER_ID = #{memberId}
	</update>
	
</mapper>